@font-face {
    font-family: "BUKRA";
    src: url("../alfont_com_AlFont_com_29ltbukrabold.otf");
}
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{

    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    margin: auto;
    font-family: "BUKRA", Arial, sans-serif;
    font-weight:200;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;

}

.navbar a{
    color: #292929 ;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
    margin-left: 10px;
}

.navbar a:hover{
    color: #248be0;
    text-decoration: none;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar a{
        color: rgb(41, 41, 41);

    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: rgb(37, 37, 37);
    }

    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff ;
        height: 100vh;
        max-width: 300px;
        transform: translate(101%);
        display: flex;
        flex-direction: column;
        margin-right: -40px;
        padding-right: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
        text-align: right;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }

  #myBtn:hover {
    background: #ddd;
    color: black;
  }

.header{
    position: relative;
    display: flex;
    min-height: 700px;
    background: url("../img/home.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -100PX;
    display: flex;
    justify-content: center;
    align-items: center;

}

  .slider {
z-index: 3;
display: grid;

  }
  #overlay {
    position: absolute; /* Sit on top of the page content *//* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .start{
    padding: 12px 30px !important;
    z-index: 3;
    border-radius: 50px !important;
    background-color: #248be0;;
  }

  .vision .card{
    background-color: #f7fbff;
    margin-top: 20px;

    padding: 20px;
  }
.main-color{
    color: #248be0  ;
}
.green-main-color{
    color: #24e082;
}
.yello-main-color{
    color: #e6e927;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro{
    padding: 50px;
    margin-top: 20px;;
    background-color: #248be0;
    position: relative;
    overflow: hidden;

}
.pro .image{
    background-image: url('../img/5197264.svg');
    opacity: 0.1;
    width: 100%;
    height: 100%;
    bottom: 8px;

    position: absolute;
    z-index: 5;

}
.pro h1{
    margin: 30px;
}
.pro p{
    font-size: 18px;
    max-width: 550px;
    margin: auto;
}

#timeline-wrap{
    margin:5% 20%;
    top:100;
    position:relative;

  }

  #timeline{
    height:1px;
    width: 100%;
    background-color:#aabbc4;
    position:relative;

  }

   .marker{
     z-index:1000;
     color: #248be0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    margin-left: -25px;
    background-color: #fff;
    border-radius: 50%;
          }

   .marker:hover{
     -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

     -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
   }


  .timeline-icon.one {
      background-color: #fff !important;
  }

  .timeline-icon.two {
      background-color: #fff !important;
  }

  .timeline-icon.three{
      background-color: #fff !important;
  }

  .timeline-icon.four {
      background-color: #fff !important;
  }


  .mfirst{
       top:-25px;
  }

  .m2{
       top:-25px;
        left:32.5%
  }

  .m3{
       top:-25px;
      left:66%
  }


  .mlast{
       top:-25px;
      left:100%
  }

.our_company_services{
    padding:30px;

}
.our_company_services ul{
    list-style: none;
    margin-top: 10px;
}

.our_company_services ul li{
    line-height: 1.5;

}



.our_company_services .back_comany_image{
    background-color: #248be0;

    width: 389px;
    height: 278px;
   margin: auto;
   border-radius: 20px;
    position: relative;

}
.our_company_services .back_comany_image img{
    position: absolute;
    border-radius: 20px;
    right: 42px;
    top: 41px;
}



.our_document_services{
    padding:30px;

}
.our_document_services ul{
    list-style: none;
    margin-top: 10px;
}

.our_document_services ul li{
    line-height: 1.5;

}



.our_document_services .back_document_image{
    background-color: #24e082;

    width: 389px;
    height: 278px;
   margin: auto;
   border-radius: 20px;
    position: relative;

}
.our_document_services .back_document_image img{
    position: absolute;
    border-radius: 20px;
    right: -42px;
    top: 41px;
}


.our_tourism_services{
    padding:30px;

}
.our_tourism_services ul{
    list-style: none;
    margin-top: 10px;
}

.our_tourism_services ul li{
    line-height: 1.5;

}



.our_tourism_services .back_comany_image{
    background-color: #e6e927;

    width: 389px;
    height: 278px;
   margin: auto;
   border-radius: 20px;
    position: relative;

}
.our_tourism_services .back_comany_image img{
    position: absolute;
    border-radius: 20px;
    right: 42px;
    top: 41px;
}


.footer {
    position: fixed;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .footer .heading {
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .footer .contents {
    display: flex;

    justify-content: space-evenly;
    margin: 1.5rem;
  }

  .footer .contents p {
    margin-bottom: 1.3rem;
    color: rgba(0, 0, 0, 0.829);
  }

  .footer .contents a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.829);
  }

  .footer .contents a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.829);
  }

  .footer .contents h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }

  footer {
    text-align: center;
    margin-bottom: 2rem;
  }

  footer hr {
    margin: 2rem 0;
  }

  @media (max-width: 767px) {
    .footer .contents {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }

    .footer {
      position: unset;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .contents,
    .footer {
      font-size: 14px;
    }
  }

  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 50% !important
}
